@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    font-family: "0xProto Nerd Font", monospace;
    font-size: 14px;
    min-height: 0;
    color: @text;

}

window#waybar {
    background: transparent;
}

#workspaces,
#clock,
#pulseaudio,
#battery {
    background: @base;
    border-radius: 12px;
    margin: 6px 4px;
    padding: 0 12px;
}

#workspaces {
    padding: 0 6px;
    margin-left: 8px;
}

#workspaces button {
    padding: 0 6px;
    background: transparent;
    border-radius: 8px;
}

#workspaces button.active,
#workspaces button.focused {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.urgent {
    color: #f94144;
}

#clock {
    font-weight: bold;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
    animation: blink 1s linear infinite;
}


#group-power {
    background-color: @base;
    border-radius: 12px;
    margin: 6px 4px;
    padding: 0 6px;
    margin-right: 8px;
}

#custom-power {
    color: @red
}

#custom-reboot {
    color: @yellow;
}

#custom-lock,
#custom-reboot,
#custom-power {
    padding: 0 10px;
    font-size: 16px;
    border-radius: 8px;
}

#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover,
#pulseaudio:hover {
    background: @surface1;
}

@keyframes blink {
    to {
        opacity: 0.3;
    }
}
